@model UserVM

@{
    ViewData["Title"] = "Confirmación de usuario";
}
<h3>¿Está seguro de querer confirmar este usuario?</h3>
<div class="card m-3 p-2">
    <dl class="row">
        @Html.HiddenFor(model => Model.Id)
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => Model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => Model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => Model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => Model.Email)
        </dd>
    </dl>

    <form asp-action="Confirm">
        @Html.HiddenFor(model => Model.Id)
        <input type="submit" value="Confirmar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>