@model UserLigamania2020ListVM

@{
    ViewData["Title"] = "Usuarios de Ligamanía version anterior";
    var users = Model.Users;
    var user = users.FirstOrDefault();
}
<form asp-action="UsuariosLGM2020">
    <div class="form-group m-3">
        <input type="submit" value="Actualizar usuarios desde la versión anterior a la nueva" class="btn btn-primary m-3" />
    </div>
    <table class="table">
        <thead>
            <tr>
                @*<th>
                        @Html.DisplayNameFor(model => user.Id)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => user.UserName)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => user.NormalizedUserName)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => user.Email)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => user.NormalizedEmail)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => user.EmailConfirmed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => user.PasswordHash)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => user.SecurityStamp)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => user.ConcurrencyStamp)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => user.PhoneNumber)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => user.PhoneNumberConfirmed)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => user.TwoFactorEnabled)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => user.LockoutEnd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => user.LockoutEnabled)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => user.AccessFailedCount)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => user.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => user.CompartirGrupo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => user.Conocimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => user.Equipo)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => user.LastLogin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => user.LastLogout)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => user.LoginCount)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => user.UserState)
                </th>
                <th>
                    @Html.DisplayNameFor(model => user.Whatsap)
                </th>
                <th>
                    @Html.DisplayNameFor(model => user.IsEntrenador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => user.IsBot)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in users)
            {
                @Html.HiddenFor(modelItem => item.Id)
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.NormalizedUserName)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.NormalizedEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailConfirmed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PasswordHash)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SecurityStamp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LockoutEnd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LockoutEnabled)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccessFailedCount)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompartirGrupo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Conocimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Equipo)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.LastLogin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastLogout)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LoginCount)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.UserState)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Whatsap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsEntrenador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsBot)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
