@using LigamaniaCoreApp.Models.AdminViewModels
@model IGrid<TemporadaJornadaJugadorViewModel>
@inject LigamaniaCoreApp.Services.ILigamaniaService ligamaniaService

@{
    var competicionesActivas = await ligamaniaService.GetCompeticionesActivasStr();
}
<tr>
    <td><b>Total</b></td>
    <td><b>@(Model.Rows.Sum(row => row.Model.Golden))</b></td>
    <td><b>@(Model.Rows.Sum(row => row.Model.SilverA))</b></td>
    <td><b>@(Model.Rows.Sum(row => row.Model.SilverB))</b></td>
    @if (competicionesActivas.Contains("Copa"))
    {
        <td><b>@(Model.Rows.Sum(row => row.Model.Copa))</b></td>
    }
    @if (competicionesActivas.Contains("Supercopa"))
    {
        <td><b>@(Model.Rows.Sum(row => row.Model.Supercopa))</b></td>
    }
    @if (competicionesActivas.Contains("Promocion"))
    {
        <td><b>@(Model.Rows.Sum(row => row.Model.Promocion))</b></td>
    }

</tr>