@*@inject LigamaniaCoreApp.Services.ILigamaniaService ligamaniaService*@
@using LigamaniaCoreApp.Data;
@model LigamaniaCoreApp.Models.ManagerViewModels.TemporadaCompeticionViewModel

@{
    ViewData["Title"] = "PanelControl";
    var estado = Model.EstadoCompeticion;

    bool abrirAliEnabled = false;
    bool cerrarAliEnabled = false;
    bool calcPreeliAIEnabled = false;
    bool pubCarrAIEnabled = false;

    if (estado == "" || estado == null || estado == LigamaniaConst.JI_EstadoInicial) { abrirAliEnabled = true; }
    if (estado == LigamaniaConst.JI_AbrirAli) { cerrarAliEnabled = true; }
    if (estado == LigamaniaConst.JI_CerrarAli) { calcPreeliAIEnabled = true; }
    if (estado == LigamaniaConst.JI_CalcPre) { pubCarrAIEnabled = true; }

    bool resultadosEnabled = false;
    bool clasificacionEnabled = false;
    bool actualizarEliEnabled = false;
    bool rescatarEliEnabled = false;
    bool cambiarJornadaEnabled = false;
    bool abrirCambiosEnabled = false;

    if (estado == LigamaniaConst.JI_PubCarr) { resultadosEnabled = true; }
    if (estado == LigamaniaConst.CJ_Resultados || estado == LigamaniaConst.AJ_Resultados) { clasificacionEnabled = true; }
    if (estado == LigamaniaConst.CJ_Clasif) { cambiarJornadaEnabled = true; }
    if (estado == LigamaniaConst.AJ_CambJor) { actualizarEliEnabled = true; }
    if (estado == LigamaniaConst.AJ_ActuEli) { rescatarEliEnabled = true; }
    if (estado == LigamaniaConst.AJ_RescEli) { abrirCambiosEnabled = true; }

    bool cerrarCambiosEnabled = false;
    bool guardarAliEnabled = false;
    bool calcularEliCCEnabled = false;
    bool pubCarrCCEnabled = false;

    if (estado == LigamaniaConst.AJ_AbrirCam) { cerrarCambiosEnabled = true; }
    if (estado == LigamaniaConst.CJ_CerrarCam) { guardarAliEnabled = true; }
    if (estado == LigamaniaConst.CJ_GuarAli) { calcularEliCCEnabled = true; }
    if (estado == LigamaniaConst.CJ_CalcPre) { pubCarrCCEnabled = true; }
    if (estado == LigamaniaConst.CJ_PubCarr) { resultadosEnabled = true; }
    string textoAliLibre = "Establecer alineación libre";
    string classAliLibre = "btn btn-danger mr-3";
    if (Model.AlineacionLibre) { textoAliLibre = "Quitar alineación libre"; classAliLibre = "btn btn-warning mr-3"; }
}

<h2>@Model.Competicion - Panel de Control - Liga</h2>
<div class="text-danger">Jornada Carrusel: <strong>@Model.JornadaCarrusel</strong></div>
<div class="text-danger">Jornada Actual  : <strong>@Model.JornadaActual</strong></div>
<div class="flex-container">
    <div class="flex-item-bold-center col-12">
        <div class="card col-12 border-primary mt-2">
            <div class="card-header">
                <h3>Alineación inicial (al inicio de la competición)</h3>
            </div>
            <div class="card-body">
                <div class="btn-group" role="group" aria-label="Toolbar with button groups">
                    <button type="button" class="btn btn-primary mr-3" id="abrirAlineaciones" @(abrirAliEnabled ? "active" : "disabled")>Abrir alineaciones</button>
                    <button type="button" class="btn btn-primary mr-3" id="cerrarAlineaciones" @(cerrarAliEnabled ? "active" : "disabled")>Cerrar alineaciones</button>
                    <button type="button" class="btn btn-primary mr-3" id="calcularPreeliminadosAI" @(calcPreeliAIEnabled ? "active" : "disabled")>Calcular preeliminados</button>
                    <button type="button" class="btn btn-primary mr-3" id="publicarCarruselAI" @(pubCarrAIEnabled ? "active" : "disabled")>Publicar carrusel</button>
                </div>
            </div>
        </div>
        <div class="card col-12 border-primary mt-2">
            <div class="card-header">
                <h3>Abrir cambios (Lunes/Martes)</h3>
            </div>
            <div class="card-body">
                @*<div class="btn-group" role="group" aria-label="Toolbar with button groups" style="padding-right:20em">
                    <button type="button" class="@classAliLibre" id="aliLibre" @(true ? "active" : "disabled")>@textoAliLibre</button>
                </div>*@

                <div class="btn-group" role="group" aria-label="Toolbar with button groups">
                    <button type="button" class="btn btn-warning mr-3" id="resultados" @(resultadosEnabled ? "active" : "disabled")>Resultados</button>
                    <button type="button" class="btn btn-warning mr-3" id="clasificacion" @(clasificacionEnabled ? "active" : "disabled")>Clasificación</button>
                    <button type="button" class="btn btn-warning mr-3" id="cambiarJornada" @(cambiarJornadaEnabled ? "active" : "disabled")>Cambiar jornada</button>
                    <button type="button" class="btn btn-warning mr-3" id="actualizarEliminados" @(actualizarEliEnabled ? "active" : "disabled")>Actualizar eliminados</button>
                    <button type="button" class="btn btn-warning mr-3" id="rescatarEliminados" @(rescatarEliEnabled ? "active" : "disabled")>Rescatar eliminados</button>
                    <button type="button" class="btn btn-warning mr-3" id="abrirCambios" @(abrirCambiosEnabled ? "active" : "disabled")>Abrir cambios</button>
                </div>
            </div>
            </div>
        <div class="card col-12 border-primary mt-2">
            <div class="card-header">
                <h2>Cerrar cambios - Poner nueva jornada en juego (Viernes)</h2>
            </div>
            <div class="card-body">
                <div class="btn-group" role="group" aria-label="Toolbar with button groups">
                    <button type="button" class="btn btn-success mr-3" id="cerrarCambios" @(cerrarCambiosEnabled ? "active" : "disabled")>Cerrar cambios</button>
                    <button type="button" class="btn btn-success mr-3" id="guardarAlineaciones" @(guardarAliEnabled ? "active" : "disabled")>Guardar alineaciones</button>
                    <button type="button" class="btn btn-success mr-3" id="calcularPreeliminadosCC" @(calcularEliCCEnabled ? "active" : "disabled")>Calcular preeliminados</button>
                    <button type="button" class="btn btn-success mr-3" id="publicarCarruselCC" @(pubCarrCCEnabled ? "active" : "disabled")>Publicar carrusel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-item-bold-center col-12 mt-5">
        <div class="card col-12 border-danger">
            <div class="card-header">
                <h3>Forzado de operaciones</h3>
            </div>
            <div class="card-body">
                <div class="btn-group mb-3" role="grid" aria-label="Toolbar with button groups">
                    <div class="input-group mr-3">
                        <span>Introducir jornada para operaciones forzadas: </span>
                        <input type="number" id="jornadaForzado" />
                    </div>
                    <button type="button" class="btn btn-danger mr-3" id="actualizarGoles">Actualizar Goles</button>
                    <button type="button" class="btn btn-danger mr-3" id="resultadosForzado">Resultados</button>
                    <button type="button" class="btn btn-danger mr-3" id="clasificacionForzado">Clasificación</button>
                    <button type="button" class="btn btn-danger mr-3" id="actualizarEliminadosForzado">Actualizar Eliminados</button>
                    <button type="button" class="btn btn-danger mr-3" id="rescatarEliminadosForzado">Rescatar Eliminados</button>
                    <button type="button" class="btn btn-danger mr-3" id="calcularPreeliminadosForzado">Calcular preeliminados</button>
                </div>
                <div class="btn-group mb-3" role="grid" aria-label="Toolbar with button groups">
                    <button type="button" class="btn btn-danger mr-3" id="recalcularClasificacion">RECALCULAR RESULTADOS Y CLASIFICACIONES DESDE JORNADA 1</button>
                    <button type="button" class="btn btn-danger mr-3" id="abrirCambiosForzado">Abrir cambios</button>
                    <button type="button" class="btn btn-danger mr-3" id="cerrarCambiosForzado">Cerrar cambios</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#abrirAlineaciones').on('click', function (event) {
        var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var id = "@Model.Id";
        var r = confirm("¿Está seguro de querer ABRIR ALINEACIONES en "+competicion+"?");
        if (r == true) {
            showSpinner();
            const compCat = {
            Id: id,
            Competicion: competicion,
            EstadoCompeticion: "",
            TipoCompeticion: "Liga"
        };
        var urlToCall = '/ADMINT/AbrirAlineaciones';
        $.ajax({
            type: "POST",
            data: JSON.stringify(compCat),
            url: urlToCall,
            contentType: "application/json; charset=utf-8",
            processData: true,
            cache: false,
            dataType: 'json',
            error: function () {
                alert("Error al abrir alineaciones" + competicion);
                hideSpinner();
            }
        }).done(function (response) {
            if (response.result) {
                alert(response.message);
                location.reload();
            }
            else {
                alert(response.message);
            }
                hideSpinner();
        });
    }
    });
    $('#cerrarAlineaciones').on('click', function (event) {
        var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var r = confirm("¿Está seguro de querer CERRAR ALINEACIONES?");
        if (r == true) {
            showSpinner();
            const compCat = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion
            };
            var urlToCall = '/ADMINT/CerrarAlineaciones';
            $.ajax({
                type: "POST",
                data: JSON.stringify(compCat),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al cerrar alineaciones" + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                hideSpinner();
            });
        }
    });
    $('#calcularPreeliminadosAI').on('click', function (event) {
         var estadoCompeticion = "@estado";
       var competicion = "@Model.Competicion";
        var r = confirm("¿Está seguro de querer CALCULAR JUGADORES PRE-ELIMINADOS?");
        if (r == true) {
            showSpinner();
            const compCat = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion
            };
            var urlToCall = '/ADMINT/CalcularPreeliminados';
            $.ajax({
                type: "POST",
                data: JSON.stringify(compCat),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al calcular preeliminados" + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                hideSpinner();
            });
        }
    });
    $('#publicarCarruselAI').on('click', function (event) {
         var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var r = confirm("¿Está seguro de querer PUBLICAR EL CARRUSEL?");
        if (r == true) {
            showSpinner();
            const compCat = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion
            };
            var urlToCall = '/ADMINT/PublicarCarrusel';
            $.ajax({
                type: "POST",
                data: JSON.stringify(compCat),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al publicar carrusel" + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                hideSpinner();
            });
        }
    });
    $('#resultados').on('click', function (event) {
         var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var r = confirm("¿Está seguro de querer calcular los resultados de los partidos la última jornada?");
        if (r == true) {
            showSpinner();
            const compCat = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion
            };
            var urlToCall = '/ADMINT/CalcularResultados';
            $.ajax({
                type: "POST",
                data: JSON.stringify(compCat),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al calcular resultados" + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                hideSpinner();
            });
        }
    });
    $('#clasificacion').on('click', function (event) {
         var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var r = confirm("¿Está seguro de querer calcular la clasificación?");
        if (r == true) {
            showSpinner();
            const compCat = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion
            };
            var urlToCall = '/ADMINT/ActualizarClasificacion';
            $.ajax({
                type: "POST",
                data: JSON.stringify(compCat),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al calcular clasificación" + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                hideSpinner();
            });
        }
    });
    $('#actualizarEliminados').on('click', function (event) {
        var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var r = confirm("¿Está seguro de querer actualizar la tabla de jugadores eliminados?");
        if (r == true) {
            showSpinner();
            const compCat = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion
            };
            var urlToCall = '/ADMINT/ActualizarEliminados';
            $.ajax({
                type: "POST",
                data: JSON.stringify(compCat),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al actualizar jugadores eliminados" + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                hideSpinner();
            });
        }
    });
    $('#rescatarEliminados').on('click', function (event) {
        var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var r = confirm("¿Está seguro de querer RESCATAR jugadores eliminados?");
        if (r == true) {
            showSpinner();
            const compCat = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion
            };
            var urlToCall = '/ADMINT/RescatarEliminados';
            $.ajax({
                type: "POST",
                data: JSON.stringify(compCat),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al rescatar jugadores eliminados" + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                hideSpinner();
            });
        }
    });
    $('#cambiarJornada').on('click', function (event) {
        var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var r = confirm("¿Está seguro de querer CAMBIAR JORNADA?");
        if (r == true) {
            showSpinner();
            const compCat = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion
            };
            var urlToCall = '/ADMINT/CambiarJornada';
            $.ajax({
                type: "POST",
                data: JSON.stringify(compCat),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al cambiar jornada" + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                hideSpinner();
            });
        }
    });
    $('#abrirCambios').on('click', function (event) {
        var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var r = confirm("¿Está seguro de querer ABRIR CAMBIOS?");
        if (r == true) {
             showSpinner();
           const compCat = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion
            };
            var urlToCall = '/ADMINT/AbrirCambios';
            $.ajax({
                type: "POST",
                data: JSON.stringify(compCat),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al abrir cambios " + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                hideSpinner();
            });
        }
    });
    $('#cerrarCambios').on('click', function (event) {
        var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var r = confirm("¿Está seguro de querer CERRAR CAMBIOS?");
        if (r == true) {
             showSpinner();
           const compCat = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion
            };
            var urlToCall = '/ADMINT/CerrarCambios';
            $.ajax({
                type: "POST",
                data: JSON.stringify(compCat),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al cerrar cambios " + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                hideSpinner();
            });
        }
    });
    $('#guardarAlineaciones').on('click', function (event) {
        var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var r = confirm("¿Está seguro de querer GUARDAR ALINEACIONES?");
        if (r == true) {
            showSpinner();
            const compCat = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion
            };
            var urlToCall = '/ADMINT/GuardarAlineaciones';
            $.ajax({
                type: "POST",
                data: JSON.stringify(compCat),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al guardar alineaciones " + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                hideSpinner();
            });
        }
    });
    $('#calcularPreeliminadosCC').on('click', function (event) {
        var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var r = confirm("¿Está seguro de querer CALCULAR PRE-ELIMINADOS?");
        if (r == true) {
            showSpinner();
            const compCat = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion
            };
            var urlToCall = '/ADMINT/CalcularPreeliminados';
            $.ajax({
                type: "POST",
                data: JSON.stringify(compCat),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al calcular preeliminados " + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                hideSpinner();
            });
        }
    });
    $('#publicarCarruselCC').on('click', function (event) {
        var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var r = confirm("¿Está seguro de querer PUBLICAR CARRUSEL?");
        if (r == true) {
            showSpinner();
            const compCat = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion
            };
            var urlToCall = '/ADMINT/PublicarCarrusel';
            $.ajax({
                type: "POST",
                data: JSON.stringify(compCat),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al public carrusel " + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                hideSpinner();
            });
        }
    });
    $('#resultadosForzado').on('click', function (event) {
        var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var jornada = $('#jornadaForzado').val();
        var r = confirm("¿Está seguro de querer calcular los resultados de partidos para la jornada "+jornada+"?");
        if (r == true) {
            showSpinner();
            const operacionForzada = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion,
                Jornada: jornada
            };
            var urlToCall = '/ADMINT/CalcularResultadosForzado';
            $.ajax({
                type: "POST",
                data: JSON.stringify(operacionForzada),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al calcular resultados" + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                hideSpinner();
        });
    }
    });
    $('#clasificacionForzado').on('click', function (event) {
        var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var jornada = $('#jornadaForzado').val();
        var r = confirm("¿Está seguro de querer calcular la clasificación para la jornada "+jornada+"?");
        if (r == true) {
            showSpinner();
            const operacionForzada = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion,
                Jornada: jornada
            };
            var urlToCall = '/ADMINT/ActualizarClasificacionForzado';
            $.ajax({
                type: "POST",
                data: JSON.stringify(operacionForzada),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al calcular clasificación" + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                hideSpinner();
        });
    }
    });
    $('#recalcularClasificacion').on('click', function (event) {
        var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var jornada = 1;
        var r = confirm("¿Está seguro de querer RECALCULAR resultados y clasificación desde jornada "+jornada+"?");
        if (r == true) {
            showSpinner();
            const operacionForzada = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion,
                Jornada: jornada
            };
            var urlToCall = '/ADMINT/RecalcularClasificacionForzado';
            $.ajax({
                type: "POST",
                data: JSON.stringify(operacionForzada),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al calcular clasificación" + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                hideSpinner();
        });
    }
    });

    $('#actualizarEliminadosForzado').on('click', function (event) {
        var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var jornada = $('#jornadaForzado').val();
        var r = confirm("¿Está seguro de querer actualizar eliminados para la jornada "+jornada+"?");
        if (r == true) {
            showSpinner();
            const operacionForzada = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion,
                Jornada: jornada
            };
            var urlToCall = '/ADMINT/ActualizarEliminadosForzado';
            $.ajax({
                type: "POST",
                data: JSON.stringify(operacionForzada),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al actualizar eliminados" + competicion);
                    hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                hideSpinner();
        });
    }
    });
    $('#rescatarEliminadosForzado').on('click', function (event) {
        var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var jornada = $('#jornadaForzado').val();
        var r = confirm("¿Está seguro de querer actualizar eliminados para la jornada "+jornada+"?");
        if (r == true) {
            showSpinner();
            const operacionForzada = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion,
                Jornada: jornada
            };
            var urlToCall = '/ADMINT/RescatarEliminadosForzado';
            $.ajax({
                type: "POST",
                data: JSON.stringify(operacionForzada),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al actualizar eliminados" + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                hideSpinner();
        });
    }
    });
    $('#abrirCambiosForzado').on('click', function (event) {
        var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var jornada = $('#jornadaForzado').val();
        var r = confirm("¿Está seguro de querer abrir cambios para la jornada "+jornada+" (Se copiarán las alineaciones de la jornada indicada, para hacer los cambios sobre ellos)?");
        if (r == true) {
            showSpinner();
            const operacionForzada = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion,
                Jornada: jornada
            };
            var urlToCall = '/ADMINT/AbrirCambiosForzado';
            $.ajax({
                type: "POST",
                data: JSON.stringify(operacionForzada),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al abrir cambios" + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                 hideSpinner();
       });
    }
    });
    $('#cerrarCambiosForzado').on('click', function (event) {
         var estadoCompeticion = "@estado";
       var competicion = "@Model.Competicion";
        var jornada = $('#jornadaForzado').val();
        var r = confirm("¿Está seguro de querer cerrar cambios para la jornada "+jornada+"?");
        if (r == true) {
             showSpinner();
           const operacionForzada = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion,
                Jornada: jornada
            };
            var urlToCall = '/ADMINT/CerrarCambiosForzado';
            $.ajax({
                type: "POST",
                data: JSON.stringify(operacionForzada),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al cerrar cambios" + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                hideSpinner();
        });
    }
    });
    $('#calcularPreeliminadosForzado').on('click', function (event) {
        var competicion = "@Model.Competicion";
        var estadoCompeticion = "@estado";
        var r = confirm("¿Está seguro de querer CALCULAR PRE-ELIMINADOS?");
        if (r == true) {
            showSpinner();
            const compCat = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion
            };
            var urlToCall = '/ADMINT/CalcularPreeliminados';
            $.ajax({
                type: "POST",
                data: JSON.stringify(compCat),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al calcular preeliminados " + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    alert(response.message);
                    location.reload();
                }
                else {
                    alert(response.message);
                }
                hideSpinner();
            });
        }
    });
    $('#aliLibre').on('click', function (event) {
        var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var id = "@Model.Id";
        var aliLibre = "@Model.AlineacionLibre";

        var texto = "¿Está seguro de querer ESTABLECER ALINEACIÓN LIBRE PARA TODOS LOS EQUIPOS LA PRÓXIMA JORNADA en " + competicion + "?";
        if (!aliLibre) { texto = "¿Está seguro de querer QUITAR ALINEACIÓN LIBRE para todos los equipos la próxima jornada en "+competicion+"?";}

        var r = confirm(texto);
        if (r == true) {
            showSpinner();
            const compCat = {
            Id: id,
            Competicion: competicion,
            EstadoCompeticion: "",
            TipoCompeticion: "Liga"
        };
        var urlToCall = '/ADMINT/SetAlineacionLibre';
        $.ajax({
            type: "POST",
            data: JSON.stringify(compCat),
            url: urlToCall,
            contentType: "application/json; charset=utf-8",
            processData: true,
            cache: false,
            dataType: 'json',
            error: function () {
                alert("Error al establecer alineación libre próxima jornada " + competicion);
                hideSpinner();
            }
        }).done(function (response) {
            if (response.result) {
                alert(response.message);
                location.reload();
            }
            else {
                alert(response.message);
            }
                hideSpinner();
        });
    }
    });
    $('#actualizarGoles').on('click', function (event) {
        var estadoCompeticion = "@estado";
        var competicion = "@Model.Competicion";
        var jornada = $('#jornadaForzado').val();
        var r = confirm("¿Está seguro de querer forzar una actualización de goles?");
        if (r == true) {
            showSpinner();
            const operacionForzada = {
                Competicion: competicion,
                EstadoCompeticion: estadoCompeticion,
                Jornada: jornada
            };
            var urlToCall = '/ADMINT/ActualizarGolesForzado';
            $.ajax({
                type: "POST",
                data: JSON.stringify(operacionForzada),
                url: urlToCall,
                contentType: "application/json; charset=utf-8",
                processData: true,
                cache: false,
                dataType: 'json',
                error: function () {
                    alert("Error al actualizar goles" + competicion);
                hideSpinner();
                }
            }).done(function (response) {
                if (response.result) {
                    //alert(response.message);
                    urlToCall = '/ADMINT/ActualizarGoles';
                    window.location.href = urlToCall;
                }
                else {
                    alert(response.message);
                    hideSpinner();
                }
            });
    }
    });

    function showSpinner() {
        document.body.style.cursor = 'wait';
    }
    function hideSpinner() {
        document.body.style.cursor = 'arrow';
    }

</script>
