@inject LigamaniaCoreApp.Services.ILigamaniaService ligamaniaService
@model LigamaniaCoreApp.Models.InvitadoViewModels.PremiosViewModel
@using LigamaniaCoreApp.Data
@{
    ViewData["Title"] = "PremiosTemporada";
    var lTemporadas = await ligamaniaService.GetAllTemporadas();
    var premios = Model.Recaudacion - Model.Gastos;
    var competiciones = await ligamaniaService.GetAllCompeticiones();
    var categorias = await ligamaniaService.GetAllCategorias(null);
}

<h1>Contabilidad y Premios de la Temporada @Model.Temporada</h1>
<hr />

<div class="panel" id="premiosId">
    <div class="panel-heading" style="background-color:lightgrey;padding:2em">
        <div class="form-group col-md-6">
            <label for="temporada">Seleccionar una temporada</label>
            @Html.DropDownList("temporada", lTemporadas, "Seleccionar...", new { @class = "form-control", @id = "temporada_id" })
        </div>
    </div>
    <hr />
    <div class="panel-body">
        <div style="background-color:azure;padding:2em">
            <p>CONTABILIDAD - Nº de equipos: @Model.NumEquipos - Total gastos: @Model.Gastos € - Total ingresos: @Model.Recaudacion € <strong> ==> Destinado a premios: @premios  €</strong></p>
            @{
                if (Model.Contabilidad != null)
                {
                    @(Html.Grid(Model.Contabilidad)
                        .Build(columns =>
                        {
                            columns.Add(model => model.Concepto).Titled("Concepto");
                            columns.Add(model => model.Valor + "€").Titled("Cantidad");
                            columns.Add(model => model.Gasto ? "Gasto" : "Ingreso").Titled("Gasto/Ingreso");
                            columns.Add(model => model.Equipo ? "SI" : "NO").Titled("por Equipo");

                        })
                        .Css("webgrid-premiosCompeticion") // Overwrites all classes with the new ones
                        .Empty("No está cargada la contabilidad")
                        .Id("ajax-grid-premiosCompeticion")
                    )
                }
            }
            @if (Model.Editable) {
            <div class="btn-group btn-group-lg" role="group" aria-label="..." style="padding:1em">
                <button type='button' class='btn btn-primary' data-toggle='modal' data-temporada="@Model.Temporada" data-target='#addContabilidadModal'>Nuevo concepto en contabilidad</button>
            </div>
            }
        </div>
        <hr />
        <div style="background-color: azure;
        padding: 2em">
            @{
                if (Model.Premios != null)
                {
                        <div class="row" style="font-size:24px;padding:1em">
                            <p class="col-6">PREMIOS</p>
                            @if (Model.Editable) {
                            <button type='button' class='btn btn-secondary' data-toggle='modal'
                                    data-temporada="@Model.Temporada"
                                    data-target='#addCompeticionModal'>
                                Insertar competición y porcentaje
                            </button>
                            }
                        </div>
                    if (Model.Premios.Count == 0)
                    {
                        <div style="text-align:center">No están cargados los premios</div>
                    }
                    int css=1;
                    foreach (var competicion in Model.Premios)
                    {
                        <div class="mvc-grid" style="background-color:antiquewhite">
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            <span class="mvc-grid-larger" style="font-size:18px">@competicion.Competicion</span>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            @(Html.Grid(competicion.Premios)
                                .Build(columns =>
                                {
                                    columns.Add(model => model.Puesto);
                                    columns.Add(model => model.Equipo);
                                    columns.Add(model => model.Importe.ToString("0") + " €");
                                })
                                .Css("webgrid-premiosCompeticion_"+css.ToString()) // Overwrites all classes with the new ones
                                .Empty("No están cargados los premios para la competición")
                                .Id("ajax-grid-premiosCompeticion")
                            )
                            @if (Model.Editable) {
                                <div class="btn-group btn-group-lg" role="group" aria-label="..." style="padding:1em">
                                    <button type='button' class='btn btn-primary' data-toggle='modal'
                                            data-temporada="@Model.Temporada" data-competicion="@competicion.NombreCompeticion" data-categoria="@competicion.NombreCategoria"
                                            data-target='#addPremioModal'>
                                        Insertar premio
                                    </button>
                                </div>
                            }
                        </div>
            <hr />
            if (css==1) {css=2;}
            else {css=1;}
            }
    }
}
    </div>
</div>
</div>

<div class="modal fade" id="addContabilidadModal" tabindex="-1" role="dialog" aria-labelledby="addContabilidadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="width:1025px;">
            <div class="modal-header">
                <h5 class="modal-title" id="addContabilidadModalLabel">Nuevo concepto...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="flex-container" style="width:1025px;">
                    <div class="form-group">
                        <span class="input-group-text">Temporada:</span>
                        <input type="text" class="form-control" id="temporadaModal" readonly>
                    </div>
                    <div class="form-group">
                        <span class="input-group-text">Concepto:</span>
                        <input type="text" class="form-control" id="conceptoModal">
                    </div>
                    <div class="form-group">
                        <span class="input-group-text" id="basic-addon1">Valor:</span>
                        <input type="number" class="form-control" id="valorModal">
                    </div>
                    <div class="form-group">
                        <span class="input-group-text">Tipo:</span>
                        <select class="form-control" id="tipoModal">
                            <option>Gasto</option>
                            <option>Ingreso</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span class="input-group-text">Por equipo?</span>
                        <select class="form-control" id="porEquipoModal">
                            <option>Si</option>
                            <option>No</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-save="modal-editContabilidad">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addCompeticionModal" tabindex="-1" role="dialog" aria-labelledby="addCompeticionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="width:1025px;">
            <div class="modal-header">
                <h5 class="modal-title" id="addCompeticionModalLabel">Nueva competición...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="flex-container" style="width:1025px;">
                    <div class="form-group">
                        <span class="input-group-text">Temporada:</span>
                        <input type="text" class="form-control" id="temporadaPorcentajeModal" readonly>
                    </div>
                    <div class="form-group">
                        <span class="input-group-text">Competicion:</span>
                        @Html.DropDownList("competicionPorcentaje", competiciones, "Seleccionar...", new { @class = "custom-select", required = "required", onchange = "competicionPorcentajeChanged(this)" })
                    </div>
                    <div class="form-group">
                        <span class="input-group-text">Categoria:</span>
                        @Html.DropDownList("categoriaPorcentaje", categorias, "Seleccionar...", new { @class = "custom-select", required = "required" })
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-save="modal-editPorcentaje">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addPremioModal" tabindex="-1" role="dialog" aria-labelledby="addPremioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" style="width:1025px;">
            <div class="modal-header">
                <h5 class="modal-title" id="addPremioModalLabel">Nuevo premio...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="flex-container" style="width:1025px;">
                    <div class="form-group">
                        <span class="input-group-text">Temporada:</span>
                        <input type="text" class="form-control" id="temporadaPremioModal" readonly>
                    </div>
                    <div class="form-group">
                        <span class="input-group-text">Competicion:</span>
                        <input type="text" class="form-control" id="competicionModal" readonly>
                    </div>
                    <div class="form-group">
                        <span class="input-group-text">Categoria:</span>
                        <input type="text" class="form-control" id="categoriaModal" readonly>
                    </div>
                    <div class="form-group">
                        <span class="input-group-text">Puesto:</span>
                        <select id="puesto" class="custom-select" asp-items="Html.GetEnumSelectList<LigamaniaEnum.ePuestoCompeticion>()" required="required">
                            <option>Seleccionar ...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <span class="input-group-text">Valor:</span>
                        <input type="number" class="form-control" id="valorPremioModal">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-save="modal-editPremio">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function competicionPorcentajeChanged(control) {
        competicionChanged(control);
    }
    function competicionPremioChanged(control) {
        competicionChanged(control);
    }
    function competicionChanged(control) {
        var _competicion = control.value;
        //alert(_competicion);
        var procemessage = "<option value='0'> Espera por favor...</option>";
        $("#categorias").html(procemessage).show();
        $("#categoriaPorcentaje").html(procemessage).show();

        var url = "/ManagerC/GetCategoriasByCompeticion/";

        $.ajax({
            url: url,
            data: { competicion: _competicion },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Seleccionar...</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].text + ">" + data[x].text + "</option>";
                }
                $("#categorias").html(markup).show();
                $("#categoriaPorcentaje").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    };

    $('#temporada_id').change(function () {
        var temporada = $(this).val();
        //alert(temporada);
        window.location.href = "@Url.Action("PremiosTemporada", "MANAGERC")" + "?temporada=" + temporada;
    });

    $('#addContabilidadModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var temporada = button.data('temporada');
        //alert(button);
        var modal = $(this)
        modal.find('.modal-title').text('Añadir nuevo concepto en la temporada ' + temporada)
        modal.find('#temporadaModal').val(temporada);
        modal.find('#conceptoModal').val('')
        modal.find('#valorModal').val('')
        modal.find('#tipoModal').val('');
        modal.find('#porEquipoModal').val('');
    });
    $('#addContabilidadModal').on('click', '[data-save="modal-editContabilidad"]', function (event) {
        event.preventDefault();
        var temporada = $('#temporadaModal').val();
        var concepto = $('#conceptoModal').val();
        var valor = $('#valorModal').val();
        var tipo = $('#tipoModal').val();
        var porEquipo = $('#porEquipoModal').val();
        var gasto = true;
        if (tipo == 'Ingreso') { gasto = false; }
        var equipo = false;
        if (porEquipo == 'Si') { equipo = true; }

        //alert(concepto + " " + valor+ " " + tipo + " "+porEquipo+""+gasto+""+equipo);
        var nuevoConcepto = {
            Temporada: temporada,
            Concepto: concepto,
            Valor: valor,
            Gasto: gasto,
            Equipo: equipo
        };
        var urlToCall = '/MANAGERC/NuevoConceptoContabilidad';
        $.ajax({
            type: "POST",
            data: JSON.stringify(nuevoConcepto),
            url: urlToCall,
            contentType: "application/json; charset=utf-8",
            processData: true,
            cache: false,
            dataType: 'json',
            error: function (response) {
                alert("Error al guardar los datos");
            }
        }).done(function (response) {
            alert(response.message);
            if (response.result) {
                $('#addContabilidadModal').modal('hide');
                location.reload();
            }
        });
    });

    $('#addPremioModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var temporada = button.data('temporada');
        var competicion = button.data('competicion');
        var categoria = button.data('categoria');
        //alert(button);
        var modal = $(this)
        modal.find('.modal-title').text('Añadir premio en la temporada ' + temporada + ' para ' + competicion + '-' + categoria);
        modal.find('#temporadaPremioModal').val(temporada);
        modal.find('#competicionModal').val(competicion);
        modal.find('#categoriaModal').val(categoria);
        modal.find('#puesto').val('');
        modal.find('#valorPremioModal').val('');
    });
    $('#addPremioModal').on('click', '[data-save="modal-editPremio"]', function (event) {
        event.preventDefault();
        var temporada = $('#temporadaPremioModal').val();
        var competicion = $('#competicionModal').val();
        var categoria = $('#categoriaModal').val();
        var puesto = $('#puesto').val();
        var valor = $('#valorPremioModal').val();

        //alert(competicion + " " + categoria + " " + puesto + " "+valor);
        var nuevoPremio = {
            Temporada: temporada,
            Competicion: competicion,
            Categoria: categoria,
            Puesto: puesto,
            Importe: valor
        };
        var urlToCall = '/MANAGERC/NuevoPremio';
        $.ajax({
            type: "POST",
            data: JSON.stringify(nuevoPremio),
            url: urlToCall,
            contentType: "application/json; charset=utf-8",
            processData: true,
            cache: false,
            dataType: 'json',
            error: function (response) {
                alert("Error al guardar los datos");
            }
        }).done(function (response) {
            alert(response.message);
            if (response.result) {
                $('#addPremioModal').modal('hide');
                location.reload();
            }
        });
    });

    $('#addCompeticionModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var temporada = button.data('temporada');
        var modal = $(this)
        modal.find('.modal-title').text('Añadir datos de una competición para la temporada ' + temporada)
        modal.find('#temporadaPorcentajeModal').val(temporada);
        modal.find('#competicionPorcentaje').val('');
        modal.find('#categoriaPorcentaje').val('');
        //modal.find('#porcentajeModal').val(0);
    });
    $('#addCompeticionModal').on('click', '[data-save="modal-editPorcentaje"]', function (event) {
        event.preventDefault();
        var temporada = $('#temporadaPorcentajeModal').val();
        var competicion = $('#competicionPorcentaje').val();
        var categoria = $('#categoriaPorcentaje option:selected').text();
        //var porcentaje = $('#porcentajeModal').val();

        //alert(competicion + " " + categoria + " " + porcentaje);
        var nuevoPorcentaje = {
            Temporada: temporada,
            NombreCompeticion: competicion,
            NombreCategoria: categoria
        };
        var urlToCall = '/MANAGERC/NuevoPorcentaje';
        $.ajax({
            type: "POST",
            data: JSON.stringify(nuevoPorcentaje),
            url: urlToCall,
            contentType: "application/json; charset=utf-8",
            processData: true,
            cache: false,
            dataType: 'json',
            error: function (response) {
                alert("Error al guardar los datos");
            }
        }).done(function (response) {
            alert(response.message);
            if (response.result) {
                $('#addPorcentajeModal').modal('hide');
                location.reload();
            }
        });
    });

</script>