@page
@model VoleyPlaya.GestionWeb.Pages.CalendarioModel
@{
}
<form method="post">
    @Html.HiddenFor(m=>Model.Edicion.Id)
    @Html.HiddenFor(m=>Model.Edicion.Nombre)
    @Html.HiddenFor(m=>Model.Edicion.Temporada)
    @Html.HiddenFor(m=>Model.Edicion.Competicion)
    @Html.HiddenFor(m=>Model.Edicion.Categoria)
    @Html.HiddenFor(m=>Model.Edicion.Genero)
    @Html.HiddenFor(m=>Model.Edicion.Grupo)
    <div class="card">
        <div class="card-header">
            <label class="alert-info form-control" style="font-size:large; font-weight:bold">Calendario</label>
            <div class="row g-2 m-1">
                <div class="col" style="font-size:large">
                    @Html.DisplayTextFor(m=>Model.Edicion.Temporada)
                    @Html.DisplayName(" - ")
                    @Html.DisplayTextFor(m=>Model.Edicion.Lugar)
                    @Html.DisplayName(" - ")
                    @Html.DisplayTextFor(m=>Model.Edicion.Competicion)
                    @Html.DisplayTextFor(m=>Model.Edicion.Categoria)
                    @Html.DisplayTextFor(m=>Model.Edicion.Genero)
                    @Html.DisplayName(" - ")
                    @Html.DisplayNameFor(m=>Model.Edicion.Grupo)
                    @Html.DisplayTextFor(m=>Model.Edicion.Grupo)
                </div>
            </div>
        </div>

        <div class="card-body">
            <table id="partidos" class="table table-striped table-responsive d-sm-table" style="width:100%">
                <thead>
                    <tr class="align-content-center">
                        <th>Jor</th>
                        <th>Nº Par</th>
                        <th>Fecha y hora</th>
                        <th>Pista</th>
                        <th>Equipos</th>
                        <th>1º set</th>
                        <th>2º set</th>
                        <th>3º set</th>
                        <th colspan="2">Resultado</th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i=0; i<Model.Edicion.Partidos.Count;i++)
                    {
                        <tr>
                            @Html.HiddenFor(m=>Model.Edicion.Partidos[@i].Id)
                            <td>
                                @Html.DisplayTextFor(m=>Model.Edicion.Partidos[@i].Jornada)
                            </td>
                            <td>
                                @Html.DisplayTextFor(m=>Model.Edicion.Partidos[@i].NumPartido)
                            </td>
                            <td>
                                @Html.EditorFor(m => m.Edicion.Partidos[@i].FechaHora)
                            </td>
                            <td>
                                    @Html.EditorFor(m=>Model.Edicion.Partidos[@i].Pista)
                            </td>
                            <td>
                               <input type="text" readonly asp-for="@Model.Edicion.Partidos[@i].Local"/>
                                <input type="text" readonly asp-for="@Model.Edicion.Partidos[@i].Visitante"/>
                            </td>
                            <td>
                                    @Html.EditorFor(m=>Model.Edicion.Partidos[@i].Resultado.Set1.Local)
                                     @Html.EditorFor(m=>Model.Edicion.Partidos[@i].Resultado.Set1.Visitante)
                            </td>
                            <td>
                                    @Html.EditorFor(m=>Model.Edicion.Partidos[@i].Resultado.Set2.Local)
                                    @Html.EditorFor(m=>Model.Edicion.Partidos[@i].Resultado.Set2.Visitante)
                            </td>
                            <td>
                                    @Html.EditorFor(m=>Model.Edicion.Partidos[@i].Resultado.Set3.Local)
                                    @Html.EditorFor(m=>Model.Edicion.Partidos[@i].Resultado.Set3.Visitante)
                            </td>
                            <td>
                                    @Html.EditorFor(m=>m.Edicion.Partidos[@i].Resultado.Local)
                                    @Html.EditorFor(m=>m.Edicion.Partidos[@i].Resultado.Visitante)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>
