@page "{handler?}"
@model VoleyPlaya.Gestion.Web.Views.Edicion.EdicionesModel
@{

}
@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <label class="col-11 alert-info align-content-start">Competiciones</label>
            <a class="col-1 btn btn-primary align-content-end" asp-page="./Edicion" asp-route-id="">+</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-borderless table-striped table-hover">
            <tbody>
                @foreach (var item in Model.Ediciones)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Temporada)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prueba)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Competicion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoriaStr)
                            @Html.DisplayFor(modelItem => item.GeneroStr)
                        </td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-primary m-2" asp-page="./Edicion" asp-route-id="@item.Id"> Editar</a>
                                @if (item.Estado.Equals(EnumEstadoEdicion.EnJuego))
                                {
                                    <form asp-page-handler="Finalizar" method="post">
                                        <button class="btn btn-primary m-2">Finalizar</button>
                                        <input type="hidden" name="id" value="@item.Id" />
                                    </form>
                                }
                                @if (item.Estado.Equals(EnumEstadoEdicion.Registrada))
                                {
                                    <form asp-page-handler="EnJuego" method="post">
                                        <button class="btn btn-danger m-2">Poner en Juego</button>
                                        <input type="hidden" name="id" value="@item.Id" />
                                    </form>
                                    <form asp-page-handler="Delete" method="post">
                                        <button class="btn btn-danger m-2">Borrar</button>
                                        <input type="hidden" name="id" value="@item.Id" />
                                    </form>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
