@page "{handler?}"
@model VoleyPlaya.GestionWeb.Pages.EdicionModel
@{
    var pasoActual = Model.PasoActual; // Variable para el paso actual del usuario
    if (Model.Edicion == null)
    {
        Model.ErrorMessage = "No se pueden cargar los datos. Inténtalo más tarde o ponte en contacto con el administrador";
    }
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}
@if (Model.Edicion != null)
{
    <!-- Contenido HTML de la página -->
    <h1>Crear o actualizar una competición</h1>
    <!-- Pasos de la guía -->
    <div class="guia-pasos">
        <!-- Paso 1: Crear competición -->
        <div class="guia-paso @((pasoActual >= 1) ? "completado" : "")">
            <i class="fas fa-eye toggle-icon" data-bs-toggle="collapse" href="#collapseCompeticion"></i> <!-- Agrega el icono y llama a la función toggleCard() al hacer clic en el icono -->
            <h2>Competición</h2>
            <form method="post" asp-page-handler="Competicion">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m=>Model.Edicion.Id)
                <div class="card collapse" id="collapseCompeticion">
                    <div class="card-body">
                        <div style="max-width: 600px; ">
                            <div class="form-group row m-1">
                                <label class="col-sm-4 col-form-label">Temporada</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" asp-for="@Model.Edicion.Temporada" />
                                </div>
                            </div>
                            <div class="form-group row m-1">
                                <label class="col-sm-4 col-form-label">Prueba</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" asp-for="@Model.Edicion.Prueba" />
                                </div>
                            </div>
                            <div class="form-group row m-1">
                                <label class="col-sm-4 col-form-label">Competición</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m=>Model.Edicion.Competicion, Model.Competiciones, new{@class="form-control"})
                                </div>
                            </div>
                            <div class="form-group row m-1">
                                <label class="col-sm-4 col-form-label">Categoría</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m=>Model.Edicion.Categoria, Model.Categorias, new{@class="form-control"})
                                </div>
                            </div>
                            <div class="form-group row m-1">
                                <label class="col-sm-4 col-form-label">Género</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m=>Model.Edicion.Genero, Model.Generos, new{@class="form-control"})
                                </div>
                            </div>
                            <div class="form-group row m-1">
                                <label class="col-sm-4 col-form-label">Modelo Competición (para la distribución de los equipos en Grupos)</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m=>Model.Edicion.ModeloCompeticion, Model.ModelosCompeticion, new{@class="form-control"})
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="submit" class="btn btn-primary" value="Guardar competición" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Paso 2: Añadir equipos -->
        <div class="guia-paso @((pasoActual >= 2) ? "completado" : "")">
            <i class="fas fa-eye toggle-icon" data-bs-toggle="collapse" href="#collapseEquipos"></i> <!-- Agrega el icono y llama a la función toggleCard() al hacer clic en el icono -->
            <h2>Equipos</h2>
            <form method="post" enctype="multipart/form-data" asp-page-handler="Equipos" asp-route-id="@Model.Edicion.Id">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m=>Model.Edicion.Id)
                @Html.HiddenFor(m=>Model.Edicion.Nombre)
                @Html.HiddenFor(m=>Model.EdicionName)
                <div class="card collapse" id="collapseEquipos">
                    <div class="card-body">
                        <h3>@Model.Edicion.Equipos.Count equipos registrados</h3>
                        <p>El fichero excel debe contener 2 columnas, con cabecera. Las columnas son Posicion y Nombre</p>
                        <p>Se insertarán los nuevos equipos y se borrarán aquellos que no estén en el excel</p>
                        <input type="file" name="file" />
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-primary" value="Importar equipos desde excel" />
                        @if (Model.Edicion.Equipos.Count > 0)
                        {
                            <button class="btn btn-primary" asp-page="./Equipos" asp-route-id="@Model.Edicion.Id">Ver equipos</button>
                        }
                    </div>
                </div>
            </form>
        </div>
        <!-- Paso 3: Añadir fase de grupos -->
        <div class="guia-paso @((pasoActual >= 3) ? "completado" : "")">
            <i class="fas fa-eye toggle-icon" data-bs-toggle="collapse" href="#collapseFaseGrupos"></i> <!-- Agrega el icono y llama a la función toggleCard() al hacer clic en el icono -->
            <h2>Grupos</h2>
            <form method="post" asp-page-handler="Fase">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m=>Model.Edicion.Id)
                @Html.HiddenFor(m=>Model.Edicion.Nombre)
                @Html.HiddenFor(m=>Model.EdicionName)
                @Html.HiddenFor(m=>Model.Edicion.TipoCalendario)
                @for (int i = 0; i < Model.Edicion.Equipos.Count; i++)
                {
                    @Html.HiddenFor(m=>Model.Edicion.Equipos[i].Id)
                    @Html.HiddenFor(m=>Model.Edicion.Equipos[i].Nombre)
                    @Html.HiddenFor(m=>Model.Edicion.Equipos[i].Posicion)
                }
                @if (Model.Edicion.Grupos.Count == 0)
                {
                    <div class="card collapse" id="collapseFaseGrupos">
                        <div class="card-body">
                            <div class="col">
                                <div class="btn-group" data-toggle="buttons">
                                    @if (Model.TipoCalendarios != null && Model.Edicion.ModeloCompeticion == Domain.Models.EnumModeloCompeticion.JuegosDeportivos)
                                    {
                                        @foreach (var opcion in Model.TipoCalendarios)
                                        {
                                            <label class="btn btn-secondary m-2">
                                                @Html.RadioButtonFor(m => m.TipoCalendarioSeleccionado, opcion.Text, new { @class = "form-check-input" })
                                                @opcion.Text
                                            </label>
                                            <br />
                                        }
                                    }
                                    else if (Model.Edicion.ModeloCompeticion == Domain.Models.EnumModeloCompeticion.Circuito)
                                    {
                                        <p>Los grupos se generarán en función del número de equipos inscritos</p>
                                    }
                                    else if (Model.Edicion.ModeloCompeticion == Domain.Models.EnumModeloCompeticion.Cuadro)
                                    {
                                        <p>Pendiente preparar este tipo de competición</p>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input type="submit" class="btn btn-primary" value="Generar grupos"/>
                        </div>
                    </div>
                }
            </form>
            <form method="post" asp-page-handler="GuardarGrupos">
                @Html.HiddenFor(m=>Model.Edicion.Id)
                @Html.HiddenFor(m=>Model.Edicion.Nombre)
                @Html.HiddenFor(m=>Model.EdicionName)
                @Html.HiddenFor(m=>Model.Edicion.TipoCalendario)
                @Html.HiddenFor(m=>Model.Edicion.NumJornadas)
                @for (int i = 0; i < Model.Edicion.Equipos.Count; i++)
                {
                    @Html.HiddenFor(m=>Model.Edicion.Equipos[i].Id)
                    @Html.HiddenFor(m=>Model.Edicion.Equipos[i].Nombre)
                }
                @for (int i = 0; i < Model.Edicion.Grupos.Count; i++)
                {
                    @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Id)
                    @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Name)
                    @for (int j = 0; j < Model.Edicion.Grupos[i].Equipos.Count; j++)
                    {
                        @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Equipos[j].Id)
                        @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Equipos[j].Nombre)
                        @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Equipos[j].Posicion)
                    }
                    @for (int j = 0; j < Model.Edicion.Grupos[i].Partidos.Count; j++)
                    {
                        @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Partidos[j].Id)
                        @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Partidos[j].NumPartido)
                        @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Partidos[j].Label)
                        @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Partidos[j].FechaHora)
                        @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Partidos[j].Pista)
                    }
                }
                @for (int i = 0; i < Model.Edicion.FechasJornadas.Count; i++)
                {
                    @Html.HiddenFor(m=>Model.Edicion.FechasJornadas[i].Id)
                    @Html.HiddenFor(m=>Model.Edicion.FechasJornadas[i].Jornada)
                    @Html.HiddenFor(m=>Model.Edicion.FechasJornadas[i].Fecha)
                }
                <div class="card collapse" id="collapseFaseGrupos">
                    <div class="card-body">
                        @if (Model.Edicion.Grupos.Count > 0)
                        {
                            var grupos = Model.Edicion.Grupos.Where(g => g.TipoGrupo.Equals(EnumTipoGrupo.Liga)).ToList();

                            <label class="m-2 h2">Calendario: @Model.TipoCalendarioSeleccionado</label>
                            @for (int i = 0; i < grupos.Count(); i++)
                            {
                                <div class="row m-1" style="background-color:lightgray">
                                    <table class="table table-responsive">
                                        <thead>
                                            <div class="row m-2">
                                                <h3 class="col m-2">Grupo @grupos[i].Name</h3>
                                                @Html.AntiForgeryToken()
                                                <button type="submit" class="col-md-1 btn btn-danger m-2" asp-page-handler="DeleteGrupo" asp-route-id="@Model.Edicion.Grupos[i].Id">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </div>
                                            <tr>
                                                <th></th>
                                                <th>Orden</th>
                                                <th>Equipo</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var equipos = grupos[i].Equipos.OrderBy(e => e.Posicion).ToList();
                                                for (int j = 0; j < equipos.Count(); j++)
                                                {
                                                    <tr>
                                                        @if (equipos[j].Retirado)
                                                        {
                                                            <td class="retirado" style="max-width:100px">Retirado</td>
                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                        }
                                                        <td>
                                                            @Html.EditorFor(m =>equipos[j].Posicion, new {@class="form-control"})
                                                        </td>
                                                        <td>
                                                            @Html.DropDownListFor(m=>equipos[j].Nombre, Model.ListaEquipos,"Seleccionar equipo", new{@class="form-control"})
                                                        </td>
                                                        <td align="center" style="max-width:200px">
                                                            @Html.AntiForgeryToken()
                                                            <button type="submit" class="btn btn-danger" asp-page-handler="DeleteEquipo" asp-route-id="@equipos[j].Id"
                                                                        data-placement="right"
                                                                        title="Borra equipo. Solo si no hay partidos generados">
                                                                <i class="fas fa-trash"></i>
                                                            </button>
                                                            <button type="submit" class="btn btn-warning" asp-page-handler="RetirarEquipo" asp-route-id="@equipos[j].Id"
                                                                        data-placement="right"
                                                                        title="Equipo retirado. Actualiza clasificación">
                                                                <i class="fas fa-download"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        }
                    </div>
                    <div class="card-footer">
                        @if (Model.Edicion.Grupos.Count > 0)
                        {
                            @Html.AntiForgeryToken()
                            <p>Sólo si se hacen modificaciones en los grupos</p>
                            <input type="submit" class="btn btn-primary" value="Actualizar grupos" />
                        }
                    </div>
                </div>
            </form>
        </div>
        <!-- Paso 4: Establecer vueltas, jornadas y partidos para cada grupo de la fase de grupos -->
        <div class="guia-paso @((pasoActual >= 4) ? "completado" : "")">
            <i class="fas fa-eye toggle-icon" data-bs-toggle="collapse" href="#collapsePartidosFG"></i> <!-- Agrega el icono y llama a la función toggleCard() al hacer clic en el icono -->
            <h2>Fase de grupos</h2>
            <form method="post">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m=>Model.Edicion.Id)
                @Html.HiddenFor(m=>Model.Edicion.Nombre)
                @Html.HiddenFor(m=>Model.EdicionName)
                @Html.HiddenFor(m=>Model.Edicion.TipoCalendario)
                @Html.HiddenFor(m=>Model.Edicion.ModeloCompeticion)
                @Html.HiddenFor(m=>Model.Edicion.NumJornadas)
                @for (int i = 0; i < Model.Edicion.Equipos.Count; i++)
                {
                    @Html.HiddenFor(m=>Model.Edicion.Equipos[i].Id)
                    @Html.HiddenFor(m=>Model.Edicion.Equipos[i].Nombre)
                }
                @for (int i = 0; i < Model.Edicion.Grupos.Count; i++)
                {
                    @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Id)
                    @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Name)
                    @for (int j = 0; j < Model.Edicion.Grupos[i].Equipos.Count; j++)
                    {
                        @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Equipos[j].Id)
                        @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Equipos[j].Nombre)
                        @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Equipos[j].Posicion)
                    }
                }
                @for (int i=0;i< Model.GruposLiga.Count;i++)
                {
                    @Html.HiddenFor(m=>Model.GruposLiga[i].Id)
                }
                <div class="card collapse" id="collapsePartidosFG">
                    <div class="card-body">
                        <div class="row">
                            @if (Model.Edicion.FechasJornadas.Count > 0)
                            {
                                <div class="col" style="max-width: 600px;">
                                    <div class="col m-1" style="background-color:lightgray">
                                        <caption style="caption-side:top;font-size:larger;font-weight:bold">Jornadas y Fechas de Juego</caption>
                                        <table class="table table-responsive-md">
                                            <thead>
                                                <tr>
                                                    <th>Jornada</th>
                                                    <th>Fecha</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.Edicion.FechasJornadas.Count; i++)
                                                {
                                                    var fila = "fila" + i;
                                                    <tr id="@fila">
                                                        <td>
                                                            @Html.EditorFor(m=>Model.Edicion.FechasJornadas[i].Jornada, new {@class="col-sm-1 inputJornada"})
                                                        </td>
                                                        <td>
                                                            <input type="date" asp-for="@Model.Edicion.FechasJornadas[i].Fecha" class="form-control inputFecha"/>
                                                        </td>
                                                        @if (i > 0)
                                                        {
                                                            <td align="center">
                                                                <i class="fas fa-copy iconoCopia"></i>
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="card-footer">
                            @if (Model.Edicion.FechasJornadas.Count == 0)
                            {
                                <input type="submit" class="btn btn-primary" value="Generar jornadas" asp-page-handler="GenerarJornadas" />
                            }
                            else
                            {
                                <input type="submit" class="btn btn-primary" value="Generar Partidos" asp-page-handler="GenerarPartidos" />
                            }

                        </div>
                    </div>
                </div>
                <div class="card collapse" id="collapsePartidosFG">
                    <div class="card-body">
                        @if (Model.GruposLiga.Count > 0 && Model.GruposLiga.First().Equipos.Count > 0)
                        {
                            @for (int i = 0; i < Model.GruposLiga.Count; i++)
                            {
                                var grupo = Model.GruposLiga[i];
                                @Html.HiddenFor(m=>Model.GruposLiga[i].Id)
                                <div style="background-color:lightgray">
                                    <table class="table table-fit" id="tablaPartidos">
                                        <caption style="caption-side:top;font-size:larger;font-weight:bold">Partidos</caption>
                                        <thead>
                                            <h3>Grupo @Model.GruposLiga[i].Name</h3>
                                            <tr>
                                                <th>Jornada</th>
                                                <th>Nº Partido</th>
                                                <th>Fecha</th>
                                                <th>Pista</th>
                                                <th>Local</th>
                                                <th colspan="2">Resultado</th>
                                                <th>Visitante</th>
                                                <th>Sets</th>
                                                <th>Validar</th>
                                                <th>Borrar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int j = 0; j < Model.GruposLiga[i].Partidos.Count; j++)
                                            {
                                                @Html.HiddenFor(m=>Model.GruposLiga[i].Partidos[j].Id)
                                                @Html.HiddenFor(m=>Model.GruposLiga[i].Partidos[j].NumPartido)
                                                @Html.HiddenFor(m=>Model.GruposLiga[i].Partidos[j].Jornada)
                                                var listaEquipos = new SelectList(Model.GruposLiga[i].Equipos.Select(e => e.Nombre));
                                                var clase="";
                                                @if (Model.GruposLiga[i].Partidos[j].RetiradoLocal || Model.GruposLiga[i].Partidos[j].RetiradoVisitante )
                                                {
                                                    clase = "retirado";
                                                }
                                                <tr class="@clase">
                                                    <td>
                                                        @Html.EditorFor(m =>Model.GruposLiga[i].Partidos[j].Jornada,new { htmlAttributes = new { @class = "custom-editor" } })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(m =>Model.GruposLiga[i].Partidos[j].Label, new { htmlAttributes = new { @class = "custom-editor" } })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(m=>Model.GruposLiga[i].Partidos[j].FechaHora, new { htmlAttributes = new { @class = "custom-editor-date" } })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(m=>Model.GruposLiga[i].Partidos[j].Pista,new { htmlAttributes = new { @class = "custom-editor" } })
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m=>Model.GruposLiga[i].Partidos[j].Local, listaEquipos,"Seleccionar equipo",new { htmlAttributes = new { @class = "custom-editor" } })
                                                    </td>
                                                        
                                                    <td>
                                                        @Html.EditorFor(m=>Model.GruposLiga[i].Partidos[j].Resultado.Local,new { htmlAttributes = new { @class = "custom-editor", @disabled = "disabled" } })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(m=>Model.GruposLiga[i].Partidos[j].Resultado.Visitante,new { htmlAttributes = new { @class = "custom-editor", @disabled = "disabled" } })
                                                    </td>
                                                    <td>
                                                        @Html.DropDownListFor(m=>Model.GruposLiga[i].Partidos[j].Visitante, listaEquipos,"Seleccionar equipo",new { htmlAttributes = new { @class = "custom-editor" } })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(m=>Model.GruposLiga[i].Partidos[j].Resultado.Set1.Local,new { htmlAttributes = new { @class = "custom-editor" } })
                                                        @Html.EditorFor(m=>Model.GruposLiga[i].Partidos[j].Resultado.Set1.Visitante,new { htmlAttributes = new { @class = "custom-editor" } })
                                                        @Html.EditorFor(m=>Model.GruposLiga[i].Partidos[j].Resultado.Set2.Local,new { htmlAttributes = new { @class = "custom-editor" } })
                                                        @Html.EditorFor(m=>Model.GruposLiga[i].Partidos[j].Resultado.Set2.Visitante,new { htmlAttributes = new { @class = "custom-editor" } })
                                                        @Html.EditorFor(m=>Model.GruposLiga[i].Partidos[j].Resultado.Set3.Local,new { htmlAttributes = new { @class = "custom-editor" } })
                                                        @Html.EditorFor(m=>Model.GruposLiga[i].Partidos[j].Resultado.Set3.Visitante,new { htmlAttributes = new { @class = "custom-editor" } })
                                                    </td>
                                                    <td>
                                                        @Html.AntiForgeryToken()
                                                        @Html.CheckBoxFor(m=>Model.GruposLiga[i].Partidos[j].Validado, new { @class = "custom-editor-checkbox validar-chkbox", data_id=@Model.GruposLiga[i].Partidos[j].Id })
                                                    </td>
                                                    <td>
                                                        @Html.AntiForgeryToken()
                                                        <button type="submit" class="btn btn-danger m-1" asp-page-handler="DeletePartido" asp-route-id="@Model.GruposLiga[i].Partidos[j].Id"
                                                                    data-placement="right"
                                                                    title="Borrar partido">
                                                            <i class="fas fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    @*Clasificaciones*@
                                    <table class="table table-borderless table-striped table-hover partidos">
                                        <caption style="caption-side:top;font-size:larger;font-weight:bold">Clasificación</caption>
                                        <thead>
                                            <tr>
                                                <td>@Html.DisplayNameFor(m=>grupo.Equipos.First().Nombre)</td>
                                                <td>@Html.DisplayNameFor(m=>grupo.Equipos.First().Puntos)</td>
                                                <td>@Html.DisplayNameFor(m=>grupo.Equipos.First().Jugados)</td>
                                                <td>@Html.DisplayNameFor(m=>grupo.Equipos.First().Ganados)</td>
                                                <td>@Html.DisplayNameFor(m=>grupo.Equipos.First().Perdidos)</td>
                                                <td>@Html.DisplayNameFor(m=>grupo.Equipos.First().PuntosFavor)</td>
                                                <td>@Html.DisplayNameFor(m=>grupo.Equipos.First().PuntosContra)</td>
                                                <td>@Html.DisplayNameFor(m=>grupo.Equipos.First().Coeficiente)</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var equipo in grupo.Equipos.OrderByDescending(e => e.Puntos).ThenByDescending(e => e.Coeficiente))
                                            {
                                                var clase = "";
                                                if (equipo.Retirado) clase = "retirado";
                                                <tr class="@clase">
                                                    <td class="@clase">
                                                        @Html.DisplayFor(modelItem =>  equipo.Nombre)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem =>  equipo.Puntos)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem =>  equipo.Jugados)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem =>  equipo.Ganados)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem =>  equipo.Perdidos)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem =>  equipo.PuntosFavor)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem =>  equipo.PuntosContra)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem =>  equipo.Coeficiente)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        }
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-primary" value="Guardar Partidos" asp-page-handler="GuardarPartidos" />
                    </div>
                </div>
            </form>
        </div>
        <!-- Paso 5: Establecer partidos fase final -->
        <div class="guia-paso @((pasoActual >= 5) ? "completado" : "")">
            <i class="fas fa-eye toggle-icon" data-bs-toggle="collapse" href="#collapseFaseFinal"></i> <!-- Agrega el icono y llama a la función toggleCard() al hacer clic en el icono -->
            <h2>Fase final</h2>
            <div class="card collapse" id="collapseFaseFinal">
                <div class="card-header">
                    <form method="post" asp-page-handler="GenerarFaseFinal">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m=>Model.Edicion.Id)
                        @Html.HiddenFor(m=>Model.Edicion.Nombre)
                        @Html.HiddenFor(m=>Model.EdicionName)
                        @Html.HiddenFor(m=>Model.Edicion.TipoCalendario)
                        @Html.HiddenFor(m=>Model.Edicion.ModeloCompeticion)
                        <input type="submit" class="btn btn-primary" value="Generar/Actualizar Fase Final" />
                    </form>
                </div>
                <form method="post" asp-page-handler="GuardarPartidosFaseFinal">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m=>Model.Edicion.Id)
                    @Html.HiddenFor(m=>Model.Edicion.Nombre)
                    @Html.HiddenFor(m=>Model.EdicionName)
                    @Html.HiddenFor(m=>Model.Edicion.TipoCalendario)
                    @Html.HiddenFor(m=>Model.Edicion.ModeloCompeticion)
                    @Html.HiddenFor(m=>Model.Edicion.NumJornadas)
                    @for (int i = 0; i < Model.Edicion.Equipos.Count; i++)
                    {
                        @Html.HiddenFor(m=>Model.Edicion.Equipos[i].Id)
                        @Html.HiddenFor(m=>Model.Edicion.Equipos[i].Nombre)
                    }
                    @for (int i = 0; i < Model.Edicion.Grupos.Count; i++)
                    {
                        @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Id)
                        @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Name)
                        @Html.HiddenFor(m=>Model.Edicion.Grupos[i].TipoGrupo)
                        @for (int j = 0; j < Model.Edicion.Grupos[i].Equipos.Count; j++)
                        {
                            @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Equipos[j].Id)
                            @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Equipos[j].Nombre)
                            @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Equipos[j].Posicion)
                            @Html.HiddenFor(m=>Model.Edicion.Grupos[i].Equipos[j].OrdenEntrada)
                        }
                    }                    
                    @for (int i=0;i< Model.GruposFF.Count;i++)
                    {
                        @Html.HiddenFor(m=>Model.GruposFF[i].Id)
                    }
                    <div class="card-body">
                        @if (Model.GruposFF.Count > 0)
                        {
                            @for (int i = 0; i < Model.GruposFF.Count; i++)
                            {
                                @Html.HiddenFor(m=>Model.GruposFF[i].Id)
                                <div style="background-color:lightgray">
                                    <table class="table table-fit" id="tablaPartidos">
                                        <caption style="caption-side:top;font-size:larger;font-weight:bold">Partidos</caption>
                                        <thead>
                                            <h3>Grupo @Model.GruposFF[i].Name</h3>
                                            <tr>
                                                <th>Jornada</th>
                                                <th>Nº Partido</th>
                                                <th>Fecha</th>
                                                <th>Pista</th>
                                                <th>Local</th>
                                                <th colspan="2">Resultado</th>
                                                <th>Visitante</th>
                                                <th>Sets</th>
                                                <th>Validar</th>
                                                <th>Borrar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int j = 0; j < Model.GruposFF[i].Partidos.Count; j++)
                                            {
                                                @Html.HiddenFor(m=>Model.GruposFF[i].Partidos[j].Id)
                                                @Html.HiddenFor(m=>Model.GruposFF[i].Partidos[j].NumPartido)
                                                @Html.HiddenFor(m=>Model.GruposFF[i].Partidos[j].Jornada)
                                                @Html.HiddenFor(m=>Model.GruposFF[i].Partidos[j].Local)
                                                @Html.HiddenFor(m=>Model.GruposFF[i].Partidos[j].Visitante)
                                                var listaEquipos = new SelectList(Model.GruposFF[i].Equipos.Select(e => e.Nombre.Trim()).ToList());
                                                var clase = "";
                                                @if (Model.GruposFF[i].Partidos[j].RetiradoLocal || Model.GruposFF[i].Partidos[j].RetiradoVisitante)
                                                {
                                                    clase = "retirado";
                                                }
                                                <tr class="@clase">
                                                    <td>
                                                        @Html.EditorFor(m =>Model.GruposFF[i].Partidos[j].Jornada,new { htmlAttributes = new { @class = "custom-editor" } })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(m =>Model.GruposFF[i].Partidos[j].Label, new { htmlAttributes = new { @class = "custom-editor" } })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(m=>Model.GruposFF[i].Partidos[j].FechaHora, new { htmlAttributes = new { @class = "custom-editor-date" } })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(m=>Model.GruposFF[i].Partidos[j].Pista,new { htmlAttributes = new { @class = "custom-editor" } })
                                                    </td>
                                                    <td>
                                                        @if (Model.GruposFF[i].Partidos[j].Local == null)
                                                        {
                                                            @Html.DisplayFor(m=>Model.GruposFF[i].Partidos[j].NombreLocal)
                                                        }
                                                        else 
                                                        {
                                                            @Html.DropDownListFor(m=>Model.GruposFF[i].Partidos[j].Local, listaEquipos,"Seleccionar equipo",new { htmlAttributes = new { @class = "custom-editor" } })
                                                        }
                                                    </td>

                                                    <td>
                                                        @Html.EditorFor(m=>Model.GruposFF[i].Partidos[j].Resultado.Local,new { htmlAttributes = new { @class = "custom-editor", @disabled="disabled" } })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(m=>Model.GruposFF[i].Partidos[j].Resultado.Visitante,new { htmlAttributes = new { @class = "custom-editor", @disabled="disabled" } })
                                                    </td>
                                                    <td>
                                                        @if (Model.GruposFF[i].Partidos[j].Visitante == null)
                                                        {
                                                            @Html.DisplayFor(m=>Model.GruposFF[i].Partidos[j].NombreVisitante)
                                                        }
                                                        else 
                                                        {
                                                            @Html.DropDownListFor(m=>Model.GruposFF[i].Partidos[j].Visitante, listaEquipos,"Seleccionar equipo",new { htmlAttributes = new { @class = "custom-editor" } })
                                                        }
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(m=>Model.GruposFF[i].Partidos[j].Resultado.Set1.Local,new { htmlAttributes = new { @class = "custom-editor" } })
                                                        @Html.EditorFor(m=>Model.GruposFF[i].Partidos[j].Resultado.Set1.Visitante,new { htmlAttributes = new { @class = "custom-editor" } })
                                                        @Html.EditorFor(m=>Model.GruposFF[i].Partidos[j].Resultado.Set2.Local,new { htmlAttributes = new { @class = "custom-editor" } })
                                                        @Html.EditorFor(m=>Model.GruposFF[i].Partidos[j].Resultado.Set2.Visitante,new { htmlAttributes = new { @class = "custom-editor" } })
                                                        @Html.EditorFor(m=>Model.GruposFF[i].Partidos[j].Resultado.Set3.Local,new { htmlAttributes = new { @class = "custom-editor" } })
                                                        @Html.EditorFor(m=>Model.GruposFF[i].Partidos[j].Resultado.Set3.Visitante,new { htmlAttributes = new { @class = "custom-editor" } })
                                                    </td>
                                                    <td>
                                                        @Html.AntiForgeryToken()
                                                        @Html.CheckBoxFor(m=>Model.GruposFF[i].Partidos[j].Validado, new { @class = "custom-editor-checkbox validar-chkbox", data_id=@Model.GruposFF[i].Partidos[j].Id})
                                                    </td>
                                                    <td>
                                                        @Html.AntiForgeryToken()
                                                        <button type="submit" class="btn btn-danger m-1" asp-page-handler="DeletePartido" asp-route-id="@Model.GruposFF[i].Partidos[j].Id"
                                                                                                        data-placement="right"
                                                                                                        title="Borrar partido">
                                                            <i class="fas fa-trash"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        }
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-primary" value="Actualizar Partidos" />
                    </div>
                </form>
            </div>
        </div>
        <!-- Paso 6: Establecer clasificación final -->
        <div class="guia-paso @((pasoActual >= 6) ? "completado" : "")">
            <i class="fas fa-eye toggle-icon" data-bs-toggle="collapse" href="#collapseClasiFinal"></i>
            <h2>Clasificación final</h2>
            <form method="post" asp-page-handler="ClasificacionFinal">
                <div class="card collapse" id="collapseClasiFinal">
                    <div class="card-header">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m=>Model.Edicion.Id)
                            @Html.HiddenFor(m=>Model.Edicion.Nombre)
                            @Html.HiddenFor(m=>Model.EdicionName)
                            @Html.HiddenFor(m=>Model.Edicion.TipoCalendario)
                            @Html.HiddenFor(m=>Model.Edicion.ModeloCompeticion)
                            <input type="submit" class="btn btn-primary" value="Actualizar Clasificación Final" />
                    </div>
                    <div class="card-body" style="background-color:lightgray">
                        <table class="table table-fit" id="tablaClasiFinal">
                            <thead>
                                <tr>
                                    <th>Equipo</th>
                                    <th>Clasificación final</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i=0;i< Model.EquiposCF.Count;i++)
                                {
                                    @Html.HiddenFor(m=>Model.EquiposCF[i].Id)
                                    <tr>
                                        <td>@Html.DisplayFor(m=>Model.EquiposCF[i].Nombre,new { htmlAttributes = new { @class = "custom-editor" } })</td>
                                        <td>@Html.EditorFor(m=>Model.EquiposCF[i].ClasificacionFinal,new { htmlAttributes = new { @class = "custom-editor" } })</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-primary" value="Actualizar Clasificación Final" />
                    </div>
                </div>
            </form>
        </div>
    </div>
}
@section scripts {
    <script>
        function toggleCard() {
            var card = document.querySelector('.card'); // Seleccionar la tarjeta
            card.classList.toggle('card-hidden'); // Agregar o quitar la clase para ocultar/mostrar la tarjeta
        };

        // Obtén todos los iconos de copia
        var iconosCopia = document.getElementsByClassName("iconoCopia");
        // Agrega un evento de clic a cada icono de copia
        for (var i = 0; i < iconosCopia.length; i++) {
            iconosCopia[i].addEventListener("click", function () {
                // Obtiene el elemento tr padre del icono de copia
                var filaActual = this.parentElement.parentElement;
                // Obtiene el elemento tr anterior
                var filaAnterior = filaActual.previousElementSibling;
                // Verifica si hay una fila anterior
                if (filaAnterior) {
                    // Obtiene el valor de la fecha de la fila anterior
                    var fechaAnterior = filaAnterior.querySelector(".inputFecha").value;
                    // Obtiene el input de fecha de la fila actual
                    var inputFechaActual = filaActual.querySelector(".inputFecha");
                    // Copia el valor de la fecha anterior al input de fecha actual
                    inputFechaActual.value = fechaAnterior;
                }
            });
        }
        $(document).ready(function () {
            $('.validar-chkbox').change(function () {
                var rowId = $(this).data('id');
                var isChecked = $(this).is(':checked');
                $.ajax({
                    type: "POST",
                    url: "/Edicion/ValidarPartido",
                    data: { idPartido: rowId, activo: isChecked },
                    //dataType: "json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    }, success: function (response) {
                        //alert('validado');
                    },
                    failure: function (response) {
                        //alert("Failure");
                    },
                    error: function (response) {
                        //alert("Error");
                    }
                });
            });
        });
    </script>
}