@page
@model VoleyPlaya.GestionWeb.Pages.EquiposModel
@{
}
@if (!string.IsNullOrEmpty(Model.UrlEdicion))
{
    <p><a href="@Model.UrlEdicion">Volver a la competición</a></p>
}

@Html.AntiForgeryToken()


<form method="post">
    @Html.HiddenFor(m=>@Model.EdicionId)
    <div class="card">
        <div class="card-header">
            <h2>Lista de equipos</h2>
        </div>
        <div class="card-body p-2">
            <div class="row">
                <div class="col m-1">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Orden de Entrada</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.Equipos.Count / 2; i++)
                            {
                                var clase = "";
                                var enabled = "";
                                @if (Model.Equipos[i].Retirado) { clase = "retirado"; enabled = "disabled"; }
                                <tr class="@clase" @enabled>
                                    <td align="center">
                                        @Html.HiddenFor(m=>Model.Equipos[i].Id)
                                        <button type="submit" class="btn btn-danger" asp-page-handler="DeleteEquipo" asp-route-id="@Model.Equipos[@i].Id">
                                            <i class="fas fa-trash"></i> 
                                        </button>
                                    </td>
                                    <td>@Model.Equipos[i].OrdenEntrada</td>
                                    @if (Model.Equipos[i].Retirado)
                                    {
                                        <td>@Html.EditorFor(m=>Model.Equipos[i].Nombre, new { htmlAttributes = new { @class = "form-control col-4", @disabled = "disabled" } })</td>
                                }
                                    else
                                    {
                                        <td>@Html.EditorFor(m=>Model.Equipos[i].Nombre, new{@class="form-control"})</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col m-1">
                    <table class="table table-stripped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Orden de Entrada</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = Model.Equipos.Count / 2; i < Model.Equipos.Count; i++)
                            {
                                var clase = "";
                                var enabled = "";
                                @if (Model.Equipos[i].Retirado) { clase = "retirado"; enabled = "disabled"; }
                                <tr class="@clase" @enabled>
                                    <td align="center">
                                        @Html.HiddenFor(m=>Model.Equipos[i].Id)
                                        <button type="submit" class="btn btn-danger" asp-page-handler="DeleteEquipo" asp-route-id="@Model.Equipos[@i].Id">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                    <td>@Model.Equipos[i].OrdenEntrada</td>
                                    @if (Model.Equipos[i].Retirado)
                                    {
                                        <td>@Html.EditorFor(m=>Model.Equipos[i].Nombre, new { htmlAttributes = new { @class = "form-control col-4", @disabled = "disabled" } })</td>
                                    }
                                    else
                                    {
                                        <td>@Html.EditorFor(m=>Model.Equipos[i].Nombre, new{@class="form-control"})</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-primary" asp-page-handler="Guardar" value="Guardar cambios" />
        </div>
    </div>
</form>
<form method="post">
    @Html.HiddenFor(m=>@Model.EdicionId)
    <div class="card">
        <div class="card-header h2">Nuevo equipo</div>
        <div class="card-body p-2">
            <div class="form-group row m-1">
                <label class="col-sm-4 col-form-label">Nombre del equipo</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" asp-for="@Model.NuevoEquipo" />
                </div>
            </div>
        </div>
        <div class="card-footer">
            <input type="submit" class="btn btn-primary" asp-page-handler="NuevoEquipo" value="+" />
        </div>
    </div>
</form>
