@using LigamaniaCoreApp.Models.InvitadoViewModels
@using LigamaniaCoreApp.Data

@*@model IEnumerable<CategoriaHistoricaViewModel>*@
@model CategoriaHistoricaViewModel

@if (Model != null)
{
    var premiosCampeon = Model.Premios.Where(p => p.Premio.Equals(LigamaniaEnum.EPremio.Campeon)).ToList();
    var premiosSubcampeon = Model.Premios.Where(p => p.Premio.Equals(LigamaniaEnum.EPremio.Subcampeon)).ToList();
    var premiosTercero = Model.Premios.Where(p => p.Premio.Equals(LigamaniaEnum.EPremio.Tercero)).ToList();
    var premiosPichichi = Model.Premios.Where(p => p.Premio.Equals(LigamaniaEnum.EPremio.Pichichi)).ToList();
    var colmd = "col-md-3";
    if (Model.Categoria == LigamaniaConst.Competicion_Copa || Model.Categoria == LigamaniaConst.Competicion_Supercopa)
    {
        colmd = "col-md-5";
    }
    <div class="card" style="border:inset">
        <div class="card-header">
            <h2>@Model.Categoria</h2>
        </div>
        <div class="card-body flex-container">
            @if (premiosCampeon.Any())
            {
                <div class="media flex-item-bold-center">
                    <div class="media-bottom">
                        <a>
                            <img class="media-object" src="@Url.Content(Url.Action("GetImagenCategoria", "InvitadoH", new { categoria = @Model.Categoria, puesto = 1 }))" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="padding-top:inherit;color:gold; font-size:xx-large">@premiosCampeon.FirstOrDefault().Equipo</h4>
                    </div>
                </div>
            }
            @if (premiosSubcampeon.Any())
            {
                <div class="media flex-item-bold-center">
                    <div class="media-bottom">
                        <a>
                            <img class="media-object" src="@Url.Content(Url.Action("GetImagenCategoria", "InvitadoH", new { categoria = @Model.Categoria, puesto = 2 }))" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="padding-top:inherit;color:gold; font-size:xx-large">@premiosSubcampeon.FirstOrDefault().Equipo</h4>
                    </div>
                </div>
            }
            @if (Model.Categoria != LigamaniaConst.Competicion_Copa && Model.Categoria != LigamaniaConst.Competicion_Supercopa)
            {
                if (premiosTercero.Any())
                {
                    <div class="media flex-item-bold-center">
                        <div class="media-bottom">
                            <a>
                                <img class="media-object" src="@Url.Content(Url.Action("GetImagenCategoria", "InvitadoH", new { categoria = @Model.Categoria, puesto = 3 }))" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading" style="padding-top:inherit;color:gold; font-size:xx-large">@premiosTercero.FirstOrDefault().Equipo</h4>
                        </div>
                    </div>
                }
                if (premiosPichichi.Any())
                {
                    <div class="media flex-item-bold-center">
                        <div class="media-bottom">
                            <a>
                                <img class="media-object" src="@Url.Content(Url.Action("GetImagenCategoria", "InvitadoH", new { categoria = @Model.Categoria, puesto = 4 }))" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading" style="padding-top:inherit;color:gold; font-size:xx-large">@premiosPichichi.FirstOrDefault().Equipo</h4>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    @*<ul class="media-list col-md-10" style="border:inset">
        <li>
            @Html.Display(Model.Categoria)
        </li>
        @if (premiosCampeon.Any())
        {
            <li class="media @colmd">
                <div class="media-bottom">
                    <a>
                        <img class="media-object" src="@Url.Content(Url.Action("GetImagenCategoria", "InvitadoH", new { categoria = @Model.Categoria, puesto = 1 }))" alt="">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" style="padding-top:inherit;color:gold; font-size:xx-large">@premiosCampeon.FirstOrDefault().Equipo</h4>
                </div>
            </li>
        }
        @if (premiosSubcampeon.Any())
        {
            <li class="media @colmd">
                <div class="media-bottom">
                    <a>
                        <img class="media-object" src="@Url.Content(Url.Action("GetImagenCategoria", "InvitadoH", new { categoria = @Model.Categoria, puesto = 2 }))" alt="">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" style="padding-top:inherit;color:gold; font-size:xx-large">@premiosSubcampeon.FirstOrDefault().Equipo</h4>
                </div>
            </li>
        }
        @if (Model.Categoria != LigamaniaConst.Competicion_Copa && Model.Categoria != LigamaniaConst.Competicion_Supercopa)
        {
            if (premiosTercero.Any())
            {
                <li class="media @colmd">
                    <div class="media-bottom">
                        <a>
                            <img class="media-object" src="@Url.Content(Url.Action("GetImagenCategoria", "InvitadoH", new { categoria = @Model.Categoria, puesto = 3 }))" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="padding-top:inherit;color:gold; font-size:xx-large">@premiosTercero.FirstOrDefault().Equipo</h4>
                    </div>
                </li>
            }
            if (premiosPichichi.Any())
            {
                <li class="media @colmd">
                    <div class="media-bottom">
                        <a>
                            <img class="media-object" src="@Url.Content(Url.Action("GetImagenCategoria", "InvitadoH", new { categoria = @Model.Categoria, puesto = 4 }))" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading" style="padding-top:inherit;color:gold; font-size:xx-large">@premiosPichichi.FirstOrDefault().Equipo</h4>
                    </div>
                </li>
            }
        }
    </ul>*@
}
