@using LigamaniaCoreApp.Data
@using LigamaniaCoreApp.Models.InvitadoViewModels
@model HistorialEquipoViewModel

@{
    ViewData["Title"] = "Historial equipo";
    Layout = "_LayoutSimple";
    var modelo = Model;
}

<h1 style="color:firebrick"><strong>@modelo.TextoHistoriaEquipo</strong></h1>

<div class="card" style="border:groove;" id="resumenGeneral">
    <div class="card-title" style="background-color:blueviolet; color:black; font-weight:bold; font-size:large; padding:7px">
        Palmarés
    </div>
    <div class="card-body" style="background-color:azure;">
        @if (modelo.InfoCategoria.ContainsKey(LigamaniaConst.Categoria_Golden))
        {@await Html.PartialAsync("_PalmaresEquipoCategoria", modelo.InfoCategoria[LigamaniaConst.Categoria_Golden])}
        @if (modelo.InfoCategoria.ContainsKey(LigamaniaConst.Categoria_SilverA))
        {@await Html.PartialAsync("_PalmaresEquipoCategoria", modelo.InfoCategoria[LigamaniaConst.Categoria_SilverA])}
        @if (modelo.InfoCategoria.ContainsKey(LigamaniaConst.Categoria_SilverB))
        {@await Html.PartialAsync("_PalmaresEquipoCategoria", modelo.InfoCategoria[LigamaniaConst.Categoria_SilverB])}
        @if (modelo.InfoCategoria.ContainsKey(LigamaniaConst.Categoria_Bronze.ToUpper()))
        {@await Html.PartialAsync("_PalmaresEquipoCategoria", modelo.InfoCategoria[LigamaniaConst.Categoria_Bronze.ToUpper()])}
        @if (modelo.InfoCategoria.ContainsKey(LigamaniaConst.Competicion_Copa))
        {@await Html.PartialAsync("_PalmaresEquipoCategoria", modelo.InfoCategoria[LigamaniaConst.Competicion_Copa])}
        @if (modelo.InfoCategoria.ContainsKey(LigamaniaConst.Competicion_Supercopa))
        {@await Html.PartialAsync("_PalmaresEquipoCategoria", modelo.InfoCategoria[LigamaniaConst.Competicion_Supercopa])}
    </div>
</div>

<div class="row panel" style="border:groove;" id="resumenGeneral">
    <div class="panel-title" style="background-color:lightgreen; color:black; font-weight:bold; font-size:large; padding:7px">
        Resumen por temporadas
    </div>
    <div class="panel-body" style="background-color:azure;">
        <table class="grid-historia-equipo-temporada">
            <thead class="grid-historia-equipo-temporada">
                <tr class="grid-historia-equipo-temporada">
                    <th class="grid-historia-equipo-temporada" rowspan="2">Temporada</th>
                    <th class="grid-historia-equipo-temporada" rowspan="2">Categoría</th>
                    <th  class="grid-historia-equipo-temporada" colspan="3">Puesto</th>
                    <th class="grid-historia-equipo-temporada" rowspan="2">Pichichi</th>
                </tr>
                <tr class="grid-historia-equipo-temporada">
                    <th class="grid-historia-equipo-temporada">Liga</th>
                    <th class="grid-historia-equipo-temporada">Copa</th>
                    <th class="grid-historia-equipo-temporada">Supercopa</th>
                </tr>
            </thead>
            <tbody class="grid-historia-equipo-temporada">
                @{
                    foreach (var temp in modelo.InfoTemporada.Keys.OrderBy(t => t).ToList())
                    {
                        string pichi = modelo.InfoTemporada[temp].Pichichi ? "PICHICHI" : string.Empty;
                        string liga = modelo.InfoTemporada[temp].PuestoLiga > 0 ? modelo.InfoTemporada[temp].PuestoLiga.ToString() : "-";
                        if (modelo.InfoTemporada[temp].PuestoLiga == 1) { liga = "CAMPEÓN"; }
                        if (modelo.InfoTemporada[temp].PuestoLiga == 2) { liga = "SUBCAMPEÓN"; }
                        if (modelo.InfoTemporada[temp].PuestoLiga == 3) { liga = "TERCERO"; }
                        var puestoCopa = modelo.InfoTemporada[temp].PuestoCopa;
                        string copa = "-";
                        if (LigamaniaConst.PuestoCopa.Count > puestoCopa)
                        { copa = LigamaniaConst.PuestoCopa[puestoCopa]; }
                        string supercopa = "";
                        if (modelo.InfoTemporada[temp].PuestoSupercopa == 1) { supercopa = "CAMPEÓN"; }
                        if (modelo.InfoTemporada[temp].PuestoSupercopa == 2) { supercopa = "SUBCAMPEÓN"; }
                        string categoria = modelo.InfoTemporada[temp].CategoriaLiga;
                        <tr class="grid-historia-equipo-temporada">
                            <td class="grid-historia-equipo-temporada">@temp</td>
                            <td class="grid-historia-equipo-temporada">@categoria</td>
                            <td class="grid-historia-equipo-temporada">@liga</td>
                            <td class="grid-historia-equipo-temporada">@copa</td>
                            <td class="grid-historia-equipo-temporada">@supercopa</td>
                            <td class="grid-historia-equipo-temporada">@pichi</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
