@model CompeticionListVM

@{

    ViewData["Title"] = "Lista de competiciones";
    var competiciones = Model.competiciones;
    var primera = competiciones.FirstOrDefault();
}

<div class="card m-3 card-filter p-2">
    <div class="btn-group m-2">
        <button type="button" class="btn-info m-2" onclick="location.href='Create'">Nueva competición</button>
    </div>
</div>

<div class="card m-3">
    <div class="card-header">
        <div class="card-title">Competiciones de Ligamanía</div>
    </div>
    <div class="card-body">
        <table class="display" id="tbCompeticiones">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => primera.Competicion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => primera.Tipo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => primera.CopiarAliIni)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => primera.AliInicial)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => primera.RepetirClub)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => primera.JornadaCuadro)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/competicion.js"></script>
}