@using LigamaniaCoreApp.Models.InvitadoViewModels
@model IEnumerable<CalendarioCategoriaViewModel>
@{
    var competicion = ViewData["competicion"].ToString();

    var categorias = Model.OrderBy(c => c.Orden).ToList();
    var jorMenos = "<";
    var jorMas = ">";
}
<div class="card-group">
    @foreach (var categoria in categorias)
    {
        var numJor = categoria.JornadaSelected;
        var strJornada = "Jornada " + numJor;
        if (categoria.Jornadas.Any())
        {
            var partidos = categoria.Jornadas.First(j => j.Jornada == numJor).Partidos.OrderBy(p => p.NumeroPartido).ToList();
            <div class="card">
                <div class="card-header">
                    <div class="card-title" style="align-content:flex-end">@categoria.Categoria</div>
                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                            @if (numJor == 1)
                            {
                                <button disabled class="btn btn-outline-primary" type="button" id="button-jorMenos" data-comp="@competicion" data-cat="@categoria.Categoria" data-jornada="@numJor" onclick="jornadaMenos(this)">@jorMenos</button>
                            }
                            else
                            {
                                <button class="btn btn-outline-primary" type="button" id="button-jorMenos" data-comp="@competicion" data-cat="@categoria.Categoria" data-jornada="@numJor" onclick="jornadaMenos(this)">@jorMenos</button>
                            }
                        </div>
                        <input type="text" disabled class="form-control" id="jornada" style="text-align:center" value="@strJornada" />
                        <div class="input-group-prepend">
                            @if (numJor == categoria.LastJornada)
                            {
                                <button disabled class="btn btn-outline-primary" type="button" id="button-jorMas" data-comp="@competicion" data-cat="@categoria.Categoria" data-jornada="@numJor" onclick="jornadaMas(this)">@jorMas</button>
                            }
                            else
                            {
                                <button class="btn btn-outline-primary" type="button" id="button-jorMas" data-comp="@competicion" data-cat="@categoria.Categoria" data-jornada="@numJor" onclick="jornadaMas(this)">@jorMas</button>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-body" id="jornada">
                    @{
                        @(Html
                                        .Grid(partidos)
                                        .Build(columns =>
                                        {
                                            columns.Add(model => model.NumeroPartido).Titled("Nº");
                                            columns.Add(model => model.EquipoA).Titled("Local");
                                            columns.Add(model => model.ResultadoA).Titled("");
                                            columns.Add(model => model.ResultadoB).Titled("");
                                            columns.Add(model => model.EquipoB).Titled("Visitante");
                                        })
                                        .Css("webgrid-noticiaAplicacion") // Overwrites all classes with the new ones
                                        .Empty("No hay partidos")
                                        .Id("ajax-grid-partidos-calendario")
                        )
                    }
                </div>
                <div class="card-footer">
                    <button class="btn btn-secondary" style="align-content:flex-start" type="button" id="button-carrusel" data-comp="@competicion" data-cat="@categoria.Categoria" data-jornada="@numJor" onclick="verCarrusel(this)">Carrusel</button>
                </div>
            </div>
        }
    }
</div>
<script type="text/javascript">
    function jornadaMenos(button) {
        var competicion = $(button).attr("data-comp");
        var categoria = $(button).attr("data-cat");
        var jornada = $(button).attr("data-jornada");
        //alert("Jornada menos " + competicion + "-" + categoria+"-"+jornada);
        var urlToCall = '/InvitadoJ/JornadaMenos';
        window.location.href = urlToCall + "?competicion=" + competicion + "&categoria=" + categoria+"&jornada="+jornada;

    }
    function jornadaMas(button) {
        var competicion = $(button).attr("data-comp");
        var categoria = $(button).attr("data-cat");
        var jornada = $(button).attr("data-jornada");
        //alert("Jornada mas " + competicion + "-" + categoria+"-"+jornada);
        var urlToCall = '/InvitadoJ/JornadaMas';
        window.location.href = urlToCall + "?competicion=" + competicion + "&categoria=" + categoria+"&jornada="+jornada;
    }
    function verCarrusel(button) {
        var competicion = $(button).attr("data-comp");
        var categoria = $(button).attr("data-cat");
        var jornada = $(button).attr("data-jornada");
        //alert("Jornada mas " + competicion + "-" + categoria+"-"+jornada);
        var urlToCall = '/EntrenadorC/Carrusel';
        window.location.href = urlToCall + "?competicion=" + competicion + "&categoria=" + categoria+"&jornada="+jornada;
    }
</script>