@using LigamaniaCoreApp.Models.InvitadoViewModels
@model PremiosViewModel

@{
    ViewData["Title"] = "Premios Temporada";
}

<h2>Premios de la temporada @Model.Temporada</h2>
@{
    var LigaGolden = Model.Premios.Where(p => p.Competicion.Equals("Liga-Golden")).FirstOrDefault();

}
<div class="container-fluid">
    <div class="row" style="padding:7px">
        <div class="col-4">
            @if (LigaGolden != null)
            {
                @await Html.PartialAsync("_PremioCompeticion", LigaGolden)
            }
        </div>
        <div class="col-4">
            @if (Model.Premios != null && Model.Premios.Count > 0)
            {
                @await Html.PartialAsync("_PremioCompeticion", Model.Premios.Where(p => p.Competicion.Equals("Copa")).FirstOrDefault())
            }
        </div>
    </div>
    <div class="row" style="padding:7px">
        <div class="col">
            @if (Model.Premios != null && Model.Premios.Count > 0)
            {
                @await Html.PartialAsync("_PremioCompeticion", Model.Premios.Where(p => p.Competicion.Equals("Liga-Silver A")).FirstOrDefault())
            }
        </div>
        <div class="col">
            @if (Model.Premios != null && Model.Premios.Count > 0)
            {
                @await Html.PartialAsync("_PremioCompeticion", Model.Premios.Where(p => p.Competicion.Equals("Liga-Silver B")).FirstOrDefault())
            }
        </div>
        <div class="col">
            <table class="resumen-premio-competicion">
                <caption style="caption-side:top;">
                    @Html.Display("Resúmen contable", new { @class = "resumen-tit-premio-competicion" })
                </caption>
                <tr class="resumen-fila-premio-competicion">
                    <td class="resumen-col-premio-competicion">Gastos de dominio Web</td>
                    <td class="resumen-col-premio-competicion">@Model.Gastos €</td>
                </tr>
                <tr class="resumen-fila-premio-competicion">
                    <td class="resumen-col-premio-competicion">Nº de equipos</td>
                    <td class="resumen-col-premio-competicion">@Model.NumEquipos</td>
                </tr>
                <tr class="resumen-fila-premio-competicion">
                    <td class="resumen-col-premio-competicion">Recaudación</td>
                    <td class="resumen-col-premio-competicion">@Model.Recaudacion €</td>
                </tr>
                <tr class="resumen-fila-premio-competicion">
                    <td class="resumen-col-premio-competicion">Premios</td>
                    <td class="resumen-col-premio-competicion">@Model.TotalPremios €</td>
                </tr>
            </table>
        </div>
    </div>
</div>

